@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #BCC8FF, #9BA5D2);
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 100%;
    max-width: 500px;
    background-color: #FFF;
    border-radius: 20px;
    padding: 20px 50px;
}

.container h1 {
    font-size: 1.25rem;
    margin-bottom: 10px;
}

.container input {
    width: 100%;
    padding: 10px 8px;
    font-size: 1.25rem;
    border-radius: 5px;
    border: none;
    outline: none;
    border: 1px solid #DFDDFC;
    margin-bottom: 10px;
}

input:focus {
    border: 1px solid #8179f1;
}

.qr-code {
    width: 40%;
    max-height: 0;
    border-radius: 5px;
    overflow: hidden;
}

.qr-code img {
    max-width: 100%;
}

.qr-code {
    margin: 0 auto;
    transition: max-height 1s ease-in-out;
}

.qr-code.show-image {
    border: 1px solid #CCC;
    max-height: 400px;
    padding: 10px;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 1.25rem;
    margin-top: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #424CD3;
    color: #FFF;
    transition: opacity .25s ease-in-out;
    cursor: pointer;
}

button:hover {
    opacity: .75;
}