.heroSection {
    padding: 80px 4% 0;
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
}

.heroSection .textContent {
    text-transform: capitalize;
    font-size: 2.5rem;
    color: #FFF;
}

.explore {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 2rem;
    padding: 5px;
    background: #d7d7d7;
    border-radius: 2.5rem;
}

.explore p {
    margin-left: 1.5rem;
}

.explore img {
    width: 50px;
    height: auto;
}

.heroSection .footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 23px;
}

.footer ul li {
    width: 15px;
    height: 15px;
    border-radius: 7.5px;
    background-color: #FFF;
    cursor: pointer;
}

.footer div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    color: #FFF;
}

.footer div img {
    max-width: 100%;
    height: auto;
    cursor: pointer;
}

.footer ul li.active {
    background: #FF4500;
}