.container {
    width: 90%;
    max-width: 580px;
    margin: 20px auto;
    padding: 35px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.table {
    display: flex;
    flex-direction: column;
}

.table .row {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px 0;
}

.table .row + .row {
    border-top: 2px solid #CCC;
}

.pagination {
    list-style: none;
    display: flex;
    align-items: center;
    width: max-content;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid grey;
}

.pagination li button {
    border: 0;
    outline: none;
    font-size: 1.25rem;
    padding: 10px;
    background-color: #FFF;
    cursor: pointer;
}

.pagination li button.active {
    background-color: blue;
    color: #FFF;
}

.pagination li + li {
    border-left: 1px solid grey;
}